// Подключение общих CSS-переменных
:root {
   --clr-light: #fff;
   --clr-dark: #000;
   --clr-red-500: #A62318;
   --clr-red-600: #8A180E;
   --clr-back: #081B2A;
   --clr-grey: #828282;

   --ff-rl: 'Raleway', sans-serif;
   --ff-normal: 'Montserrat', sans-serif;
   --ff-bt: 'Bitter', sans-serif;
   --ff-pt: 'PTSans', sans-serif;
}